<footer class="footer text-center py-4">
    <small class="copyright">
        تولید شده توسط مهندس  نمکی  <a href="https://github.com/miladnamaki" target="_blank">
                    
        </a>
    </small>
</footer>